doctype html
html
    head
        title Maia
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href="#{base_url || ''}/css/app.css")
    body
        #app
            .spinner-container: .spinner
                i.fa.fa-spin.fa-circle-o-notch
                span.loading Loading app...

        script.
            window.config = !{JSON.stringify(config)}
        script(src="#{base_url || ''}/js/app.js")
